.chat{
    flex: 2;
}

.chatinfo{
    height: 50px;
    background-color: #acacac;
    color: #56103c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}